{%  extends  "actors/form.html"  %}
    {%  block  content  %}
        <h1>
            {{  actor.name  }}
        </h1>
        <h2>
            age:
        </h2>
            <p>
                {{  actor.age  }}
            </p>
        <h2>
            birthday:
        </h2>
            <p>
                {{  actor.birthday  }}
            </p>
        <h2>
            deathday:
        </h2>
            <p>
                {{  actor.deathday  }}
            </p>
        <h2>
            gender:
        </h2>
            <p>
                {{  actor.gender  }}
            </p>
        <h2>
            place:
        </h2>
            <p>
                {{  actor.place  }}
            </p>


    {%  endblock  %}