{% extends  "base.html" %}
{% block  content %}
    <span vocab="http://schema.org/" typeof="Person">
    <h1>
         <span property="name">{{ actor.name }}</span>
        {% if  user  ==  actor.user %}
            (
            <a href="{% url  'FilmRevolutionApp:actor_edit'  actor.id %}">edit</a>
            )
        {% endif %}
    </h1>
    {% if actor.image %}
        <p><img property="image" src="{{ actor.image.url }}"
                                       width="100%"/></p>
    {% endif %}
    <h2>
        Age:
    </h2>
    <p>
        {{ actor.age }}
    </p>
    <h2>
        Birthday:
    </h2>
    <p>
        <span property="birthDate">{{ actor.birthday }}</span>
    </p>
    <h2>
        Death day:
    </h2>
    <p>
        <span property="deathDate">{{ actor.deathday }}</span>
    </p>
    <h2>
        Gender:
    </h2>
    <p>
        <span property="gender">{{ actor.gender }}</span>
    </p>
    <h2>
        City:
    </h2>
    <p>
        <span property="address">{{ actor.city }}</span>
    </p>
    <h2>
        State:
    </h2>
    <p>
        {{ actor.state }}
    </p>
    <h2>
        Country:
    </h2>
    <p>
        <span property="nationality">{{ actor.country }}</span>
    </p>
{% endblock %}
{% block  footer %}
    Created  by  {{ actor.user }}  on  {{ actor.date }}
{% endblock %}
</span>