{% extends  "base.html" %}
{% block  content %}
    <span vocab="http://schema.org/" typeof="TVSeries">
    <h1>
            <span property="name">{{ serie.title }}</span>
        {% if  user  ==  serie.user %}
            (
            <a href="{% url  'FilmRevolutionApp:series_edit'  serie.id %}">edit</a>
            )
            (<a href="{% url  'FilmRevolutionApp:series_delete'  serie.id %}">delete</a>
            )
        {% endif %}
        </h1>
    {% if serie.image %}
        <span property="image"><p><img src="{{ serie.image.url }}"
                                       width="100%"/></p></span>
    {% endif %}
    <h2>
            Genre:
        </h2>
    <p>
                <span property="genre">{{ serie.genere }}</span>
            </p>
    <h2>
            Number of Seasons:
        </h2>
    <p>
                <span property="numberOfSeasons">{{ serie.numberSeasons }}</span>
            </p>
    <h2>
            Number of Chapters:
        </h2>
    <p>
                <span property="numberOfEpisodes">{{ serie.numberChapters }}</span>
            </p>
    <h2>
            Popularity:
        </h2>
    <p>
                {{ serie.popularity }}
            </p>
    <h2>
            Url:
        </h2>
    <p>
                <span property="url">{{ serie.url }}</span>
            </p>
    <h2>
            Platform:
        </h2>
    <p>
                <span property="provider">{{ serie.platform }}</span>
            </p>
    <h2>
            Actor:
        </h2>
    <p>
                <span property="actor">{{ serie.actor }}</span>
            </p>
    <h2>
            Director:
        </h2>
    <p>
                <span property="director">{{ serie.director }}</span>
            </p>
    <h2>Reviews</h2>
    <ul>
        {% for  review  in  serie.seriereview_set.all %}
            <li>
                <p>{{ review.rating }}  star{{ review.rating|pluralize }}</p>
                <p>{{ review.comment }}</p>
                <p>Created  by  {{ review.user }}  on {{ review.date }}</p>
            </li>
        {% endfor %}
    </ul>
    <h3>Add Review</h3>
    {% if  user.is_authenticated %}
        <form action="{% url  'FilmRevolutionApp:review_serie_create'  serie.id %}"
              method="post">
            {% csrf_token %}
                Message:  <textarea name="comment" id="comment"
                                    rows="4"></textarea>
                <p>Rating:</p>
                <p>{% for  rate  in  RATING_CHOICES %}
                    <input type="radio" name="rating"
                           id="rating{{ forloop.counter }}"
                           value="{{ rate.0 }}"/>
                    <label for="choice{{ forloop.counter }}">{{ rate.1 }}  star{{ rate.0|pluralize }}</label>
                    <br/>
                {% endfor %}
                </p>
            <input type="submit" value="Review"/>
            </form>
    {% else %}
        <p>Please, log in first</p>
    {% endif %}
{% endblock %}
{% block  footer %}
    Created  by  {{ serie.user }}  on  {{ serie.date }}
{% endblock %}
</span>