{% extends  "base.html" %}
{% block  content %}
    <span vocab="http://schema.org/" typeof="TVSeries">
    <h1>
            <span property="name">{{ production.name }}</span>
        {% if  user  ==  production.user %}
            (
            <a href="{% url  'FilmRevolutionApp:production_edit'  production.id %}">edit</a>
            )
        {% endif %}
    </h1>
    {% if production.image %}
        <span property="image"><p><img src="{{ production.image.url }}"
                                       width="100%"/></p></span>
    {% endif %}
    <h2>
        Url:
    </h2>
    <p>
        <span property="url">{{ production.url }}</span>
    </p>
    </span>
{% endblock %}
{% block  footer %}
    Created  by  {{ production.user }}  on  {{ production.date }}
{% endblock %}