{%  load  staticfiles  %}
<html>
<head>
    <link  rel="stylesheet"  href="{%  static  "style/base.css"  %}"  />
    <title>HOME</title>
</head>
<body>
<ul id="menu_list">
    <li id="element_list">
        <a href="movies">Movies</a>
    </li>
    <li id="element_list">
        <a href="series">Series</a>
    </li>
    <li id="element_list">
        <a href="actors">Actors</a>
    </li>
    <li id="element_list">
        <a href="directors">Directors</a>
    </li>
    <li id="element_list">
        <a href="production">Producers</a>
    </li>
    <li id="element_list">
        <a href="platform">Platforms</a>
    </li>
</ul>
</body>
</html>