{% extends  "base.html" %}
{% block  content %}
    <span vocab="http://schema.org/" typeof="Corporation">
    <h1>
            <span property="name">{{ platform.name }}</span>
        {% if  user  ==  platform.user %}
            (
            <a href="{% url  'FilmRevolutionApp:platform_edit'  platform.id %}">edit</a>
            )
        {% endif %}
    </h1>
        {% if platform.image %}
            <span property="image"><p><img src="{{ platform.image.url }}"
                                           width="100%"/></p></span>
        {% endif %}
        <h2>
        Url:
    </h2>
    <p>
        <span property="url">{{ platform.url }}</span>
    </p>
    </span>
{% endblock %}
{% block  footer %}
    Created  by  {{ platform.user }}  on  {{ platform.date }}
{% endblock %}