{% extends  "base.html" %}
{% block  content %}
    <span vocab="http://schema.org/" typeof="Person">
    <h1>
        <span property="name">{{ director.name }}</span>
        {% if  user  ==  director.user %}
            (
            <a href="{% url  'FilmRevolutionApp:director_edit'  director.id %}">edit</a>
            )
        {% endif %}
    </h1>
    {% if director.image %}
        <span property="image"><p><img src="{{ director.image.url }}"
                                       width="100%"/></p></span>
    {% endif %}
    <h2>
        Age:
    </h2>
    <p>
        {{ director.age }}
    </p>
    <h2>
        Birthday:
    </h2>
    <p>
        <span property="birthDate">{{ director.birthday }}</span>
    </p>
    <h2>
        Death day:
    </h2>
    <p>
        <span property="deathDate">{{ director.deathday }}</span>
    </p>
    <h2>
        Gender:
    </h2>
    <p>
        <span property="gender">{{ director.gender }}</span>
    </p>
    <h2>
        City:
    </h2>
    <p>
        <span property="address">{{ director.city }}</span>
    </p>
    <h2>
        State:
    </h2>
    <p>
        {{ director.state }}
    </p>
    <h2>
        Country:
    </h2>
    <p>
        <span property="nationality">{{ director.country }}</span>
    </p>
{% endblock %}
{% block  footer %}
    Created  by  {{ director.user }}  on  {{ director.date }}
{% endblock %}