{%  extends  "directors/form.html"  %}
    {%  block  content  %}
        <h1>
            {{  director.name  }}
        </h1>
        <h2>
            age:
        </h2>
            <p>
                {{  director.age  }}
            </p>
        <h2>
            birthday:
        </h2>
            <p>
                {{  director.birthday  }}
            </p>
        <h2>
            deathday:
        </h2>
            <p>
                {{  director.deathday  }}
            </p>
        <h2>
            gender:
        </h2>
            <p>
                {{  director.gender  }}
            </p>
        <h2>
            place:
        </h2>
            <p>
                {{  director.place  }}
            </p>


    {%  endblock  %}